* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

.container{
    width: 920px;
    margin: 0 auto;
    position: relative;
    padding: 50px 0;
}

.product{
    width: 33%;
    display: inline-block;
    position: relative;
    
}

.product img{
    max-width: 100%;
}


.product-badge{
    padding: 3px 6px;
    display: inline-block;
    background-color: rgb(255, 0, 0);
    color: white;
    position: absolute;
    bottom: 70px;
    z-index: 1;
}

.product-badge.green-product{
    position: absolute;
    left: 50px;
    background-color: green;
}


.product-badge:not(.product-badge + .product-badge.green-product){
    position: absolute;
    left: 0px;
}

.like-product{
    padding: 3px 6px;
    font-size: larger;
    height: fit-content;
    background-color: white;
    color: black;
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 1;
}


.like-product:hover{
    color: red;
}

.product-detail span{
    display: block;
}

.product-detail .product-description{
    font-weight: bold;
}


.product-detail .product-price-sale{
    color: red;
    display: inline-block;
    font-weight: bolder;
}

.product-overlay{
    position: absolute;
    top: 0px;
    display: none;
    
}

.product:hover .product-overlay{
    display: block;
} 