* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
.container{
    width: 920px;
    margin: 0 auto;
    position: relative;
    padding-top: 50px;
}

.product{
    width: 33%;
    display: inline-block;
    position: relative;
}

.product img{
    max-width: 100%;
}


.product-badge{
    padding: 3px 6px;
    display: inline-block;
    background-color: rgb(255, 0, 0);
    color: white;
    position: relative;
    bottom: 35px;
    z-index: 1;
}

.product-badge.green-product{
    background-color: green;
}

.product-badge.like-product{
    font-size: larger;
    height: fit-content;
    background-color: white;
    color: black;
    position: absolute;
    top: 35px;
    right: 0;
}

.product-badge.like-product:hover{
    color: red;
}


.product-detail{
    position: relative;
    top: -25px;
}

.product-detail span{
    display: block;
}

.product-detail .product-description{
    font-weight: bold;
}


.product-detail .product-price-sale{
    color: red;
    display: inline-block;
}

.product-overlay{
    position: absolute;
    top: 0px;
    display: none;
    
}

.product:hover .product-overlay{
    display: block;
} 

/* .product:hover .product-origin{
    display: none;
} 
 */
